/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
@font-face {
    font-family: 'GeomanistBold';
    src: url('../public/fonts/geomanist-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Typist {
    width: fit-content;
}

.Typist .Cursor {
    color: #282140;
    width: fit-content;
}

.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}